[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"

[packages]
certifi = "==2018.11.29"
django-cors-headers = "==2.4.0"
djangorestframework = "==3.9.0"
pipenv = "==2018.11.26"
pytz = "==2018.9"
virtualenv = "==16.3.0"
virtualenv-clone = "==0.5.1"
Markdown = "==3.0.1"
django = "*"
pymongo = "*"
dnspython = "*"
starlette-jwt = "*"

[pipenv]
allow_prereleases = true
